---
layout: products
title: Backpacks
permalink: /backpacks
data_source: backpacks.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">Backpack</th>
      <th data-sort-col="2">Capacity</th>
      <th data-sort-col="3">Weight</th>
      <th data-sort-col="4">Size (CM)</th>
      <th data-sort-col="5">Price</th>
      <th data-sort-col="6">Warranty</th>
      <th data-sort-col="7">Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for backpack in site.data.backpacks %}
    <tr>
      <td class="product--image-col">{% include product_image.html product=backpack %}</td>
      <td data-sort="{{backpack.name}}">{% include product_name.html product=backpack %}</td>
      <td>{% if backpack.capacity %}{{backpack.capacity}}L{% endif %}</td>
      <td>{% include product_weight.html product=backpack %}</td>
      <td>{{backpack.size}}</td>
      <td data-sort="{{backpack.price}}">{{backpack.price}} {{backpack.price_currency}}</td>
      <td>{{backpack.warranty}}</td>
      <td>{{backpack.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>