---
layout: products
title: Computer Mice
permalink: /computer-mice
data_source: computer_mice.csv
---

Reference table for correlation between mouse polling rate and response time:
<table>
    <thead>
        <tr>
            <th>Polling Rate</th>
            <th>Response Time</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>125 Hz</td><td>8 ms</td></tr>
        <tr><td>250 Hz</td><td>4 ms</td></tr>
        <tr><td>500 Hz</td><td>2 ms</td></tr>
        <tr><td>1000 Hz</td><td>1 ms</td></tr>
        <tr><td>2000 Hz</td><td>0.5 ms</td></tr>
        <tr><td>3000 Hz</td><td>0.33 ms</td></tr>
    </tbody>
</table>

<br>

<table class="sortable asc">
    <thead>
    <tr>
        <th>Mouse</th>
        <th>Sensor</th>
        <th>DPI (MAX)</th>
        <th>Pooling Rate (HZ)</th>
        <th>Weight</th>
        <th>Price</th>
        <th>Notes</th>
    </tr>
    </thead>

    <tbody>
    {% for mice in site.data.computer_mice %}
    <tr>
        <td>{% include product_name.html product=mice %}</td>
        <td>{{mice.sensor}}</td>
        <td>{{mice.dpi}}</td>
        <td>{{mice.pooling_rate}}</td>
        <td>{% include product_weight.html product=mice %}</td>
        <td data-sort="{{mice.price}}">{{mice.price}} {{mice.price_currency}}</td>
        <td>{{mice.notes}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>