---
layout: products
title: Earbuds
permalink: /earbuds
data_source: earbuds.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">Earbuds</th>
      <th data-sort-col="2">Battery Life (Earbuds)</th>
      <th data-sort-col="3">Battery Life (Charging Case)</th>
      <th data-sort-col="4">Weight</th>
      <th data-sort-col="5">Simultaneous Connections</th>
      <th data-sort-col="6">Bluetooth Version</th>
      <th data-sort-col="7">Bluetooth Class</th>
      <th data-sort-col="8">Price</th>
      <th data-sort-col="9">Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for earbuds in site.data.earbuds %}
    <tr>
      <td class="product--image-col">{% include product_image.html product=earbuds %}</td>
      <td data-sort="{{earbuds.name}}">{% include product_name.html product=earbuds %}</td>
      <td>{{earbuds.battery_life}}</td>
      <td>{{earbuds.battery_life_case}}</td>
      <td>{% include product_weight.html product=earbuds %}</td>
      <td>{{earbuds.simultaneous_connections}}</td>
      <td>{{earbuds.bluetooth_version}}</td>
      <td>{{earbuds.bluetooth_class}}</td>
      <td data-sort="{{earbuds.price}}">{{earbuds.price}} {{earbuds.price_currency}}</td>
      <td>{{earbuds.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>