---
layout: products
title: Earbuds
permalink: /earbuds
data_source: earbuds.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">Earbuds</th>
      <th data-sort-col="2">Runtime</th>
      <th data-sort-col="3">Runtime with Case</th>
      <th data-sort-col="4">Weight</th>
      <th data-sort-col="5">Simultaneous Connections</th>
      <th data-sort-col="6">Bluetooth</th>
      <th data-sort-col="7">Price</th>
      <th data-sort-col="8">Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for earbuds in site.data.earbuds %}
    <tr>
      <td class="sortable__row__image">{% include product_image.html product=earbuds %}</td>
      <td data-sort="{{earbuds.name}}">{% include product_name.html product=earbuds %}</td>
      <td>{% if earbuds.runtime %}{{earbuds.runtime}} h{% endif %}</td>
      <td>{% if earbuds.runtime_case %}{{earbuds.runtime_case}} h{% endif %}</td>
      <td>{% include product_weight.html product=earbuds %}</td>
      <td>{{earbuds.simultaneous_connections}}</td>
      <td>
        <ul class="product__units">
          {% if earbuds.bluetooth_version %}<li>{{earbuds.bluetooth_version | plus:0.0}}</li>{% endif %}
          {% if earbuds.bluetooth_class %}<li>Class {{earbuds.bluetooth_class}}</li>{% endif %}
        </ul>
      </td>
      <td data-sort="{{earbuds.price}}">{{earbuds.price}} {{earbuds.price_currency}}</td>
      <td>{{earbuds.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>