---
layout: products
title: Headphones
permalink: /headphones
data_source: headphones.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">Headphones</th>
      <th data-sort-col="2">Runtime</th>
      <th data-sort-col="3">Weight</th>
      <th data-sort-col="4">Simultaneous Connections</th>
      <th data-sort-col="5">Bluetooth Version</th>
      <th data-sort-col="6">Bluetooth Class</th>
      <th data-sort-col="7">Price</th>
      <th data-sort-col="8">Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for headphone in site.data.headphones %}
    <tr>
      <td class="sortable__row__image">{% include product_image.html product=headphone %}</td>
      <td data-sort="{{headphone.name}}">{% include product_name.html product=headphone %}</td>
      <td>{% if headphone.runtime %}{{headphone.runtime}} h{% endif %}</td>
      <td>{% include product_weight.html product=headphone %}</td>
      <td>{{headphone.simultaneous_connections}}</td>
      <td>{{headphone.bluetooth_version}}</td>
      <td>{{headphone.bluetooth_class}}</td>
      <td data-sort="{{headphone.price}}">{{headphone.price}} {{headphone.price_currency}}</td>
      <td>{{headphone.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>