---
layout: products
title: NAS
permalink: /nas
data_source: nas.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">NAS</th>
      <th>Release year</th>
      <th>Bays</th>
      <th>Hardware Transcoding</th>
      <th>CPU</th>
      <th>RAM (GB)</th>
      <th>PCie Speed</th>
      <th>Power Consumption</th>
      <th>Read Speed</th>
      <th>Price</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for nas in site.data.nas %}
    <tr>
      <td class="product--image-col">{% include product_image.html product=nas %}</td>
      <td data-sort="{{nas.name}}">{% include product_name.html product=nas %}</td>
      <td>{{nas.release_year}}</td>
      <td>{{nas.bays}}</td>
      <td>{{nas.hardware_transcoding}}</td>
      <td>{{nas.cpu}}</td>
      <td>{{nas.ram}}</td>
      <td>{% if nas.pcie_speed %}{{nas.pcie_speed}} x{% endif %}</td>
      <td>{% if nas.power_consumption %}{{nas.power_consumption}} W{% endif %}</td>
      <td>{% if nas.read_speed %}{{nas.read_speed}} MB/s{% endif %}</td>
      <td data-sort="{{nas.price}}">{{nas.price}} {{nas.price_currency}}</td>
      <td>{{nas.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>