---
layout: products
title: Password Managers
permalink: /password-managers
data_source: password_managers.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">Password Manager</th>
      <th data-sort-col="2"><abbr title="Multi-factor authentication">MFA</abbr></th>
      <th data-sort-col="3"><abbr title="Time-based one-time password">TOTP</abbr></th>
      <th data-sort-col="4">Certification</th>
      <th data-sort-col="5">Works Offline</th>
      <th data-sort-col="6">Sharing</th>
      <th data-sort-col="7">Password History</th>
      <th data-sort-col="8">Open Source</th>
      <th data-sort-col="9">Supported Platforms</th>
      <th data-sort-col="10">Price</th>
      <th data-sort-col="11">Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for password_manager in site.data.password_managers %}
    <tr>
      <td class="product--image-col">{% include product_image.html product=password_manager %}</td>
      <td data-sort="{{password_manager.name}}">{% include product_name.html product=password_manager %}</td>
      <td>{{password_manager.mfa}}</td>
      <td>{{password_manager.totp}}</td>
      <td>{{password_manager.certification}}</td>
      <td>{{password_manager.works_offline}}</td>
      <td>{{password_manager.sharing}}</td>
      <td>{{password_manager.password_history}}</td>
      <td>{{password_manager.open_source}}</td>
      <td>
        <ul class="product--units">
          {% if password_manager.macos contains 'Yes' %}<li>MacOS</li>{% endif %}
          {% if password_manager.windows contains 'Yes' %}<li>Windows</li>{% endif %}
          {% if password_manager.linux contains 'Yes' %}<li>Linux</li>{% endif %}
          {% if password_manager.android contains 'Yes' %}<li>Android</li>{% endif %}
          {% if password_manager.ios contains 'Yes' %}<li>iOS</li>{% endif %}
          {% if password_manager.browser_extension contains 'Yes' %}<li>iOS</li>{% endif %}
          {% if password_manager.web contains 'Yes' %}<li>Web</li>{% endif %}
        </ul>
      </td>
      <td data-sort="{{password_manager.price}}">{{password_manager.price}} {{password_manager.price_currency}}</td>
      <td>{{password_manager.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>