---
layout: products
title: Umbrellas
permalink: /umbrellas
data_source: umbrellas.csv
---

<table class="sortable asc">
  <thead>
    <tr>
      <th colspan="2" data-sort-col="1">Umbrella</th>
      <th data-sort-col="2">Canopy Size</th>
      <th data-sort-col="3">Closed Length</th>
      <th data-sort-col="4">Weight</th>
      <th data-sort-col="5">Warranty</th>
      <th data-sort-col="6">Price</th>
      <th data-sort-col="7">Notes</th>
    </tr>
  </thead>

  <tbody>
    {% for umbrella in site.data.umbrellas %}
    <tr>
      <td class="sortable__row__image">{% include product_image.html product=umbrella %}</td>
      <td data-sort="{{umbrella.name}}">{% include product_name.html product=umbrella %}</td>
      <td data-sort="{{umbrella.canopy_size_cm}}">{% include product_size.html size_cm=umbrella.canopy_size_cm %}</td>
      <td>{% include product_size.html size_cm=umbrella.closed_length_cm %}</td>
      <td>{% include product_weight.html product=umbrella %}</td>
      <td>{{umbrella.warranty}}</td>
      <td data-sort="{{umbrella.price}}">{{umbrella.price}} {{umbrella.price_currency}}</td>
      <td>{{umbrella.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>