<ul class="product--weight">
  {% if include.product.weight_g %}
  <li>{{ include.product.weight_g }} g</li>
  {% endif %}

  {% if include.product.weight_oz %}
  <li>{{ include.product.weight_oz }} oz</li>
  {% endif %}

  {% if include.product.weight_g && !include.product.weight_oz %}
  <li>{{ include.product.weight_g | times: 0.035274 | round: 2 }} oz</li>
  {% endif %}

  {% if include.product.weight_kg %}
  <li>{{ include.product.weight_kg }} kg</li>
  {% endif %}

  {% if include.product.weight_lb %}
  <li>{{ include.product.weight_lb }} lb</li>
  {% endif %}
</ul>