{% if include.product.discontinued %}
<div class="product__discontinued-label">discontinued</div>
{% endif %}

{% if include.product.url %}
<a href="{{ include.product.url }}">{{ include.product.name }}</a>
{% else %}
{{include.product.name}}
{% endif %}

{% if include.product.manual %}
(<a href="{{ include.product.manual }}">manual</a>)
{% endif %}

{% if include.product.amazon %}
<div class="product__purchase-links">
  {% for amazon_domain in site.amazon_domains %}
  <div class="tooltip">
    <a href="https://www.amazon.{{ amazon_domain.domain }}/gp/product/{{ include.product.amazon }}">{{ amazon_domain.name }}</a>
    <span class="tooltip__text">
      {% if amazon_domain.keepa %}
      <img src="https://graph.keepa.com/pricehistory.png?asin={{ include.product.amazon }}&domain={{ amazon_domain.domain }}" alt="Price history" />
      {% else %}
      Price history not available for {{ amazon_domain.name }}
      {% endif %}
    </span>
  </div>
  {% endfor %}
</div>
{% endif %}