@charset "utf-8";

:root {
  --cobalt-color: #0000ff;
}

html {
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
}

body {
  padding-bottom: 10%;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  border-bottom: 3px solid grey;
  background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 10px, #fff 10px, #fff 20px) 100%;
}

h1:hover {
  border-color: black;
}

h1 a {
  font-size: 60px;
  color: var(--cobalt-color);
  text-decoration: none;
  display: block;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: -15px;
  padding-top: 50px;
}

h1 a:hover {
  text-decoration: none;
}

.layout__products h1 a {
  text-align: left;
  padding-left: 5px;
}

h1 a:active, h1 a:focus {
  color: red;
}

@media (min-width: 480px) {
  h1 a {
    font-size: 100px;
    margin-bottom: -25px;
    padding-top: 30px;
  }
}

.site__description {
  text-align: center;
  display: block;
  padding: 20px;
}

.layout__products .site__description {
  text-align: left;
  padding: 20px 10px;
}

main {
  padding: 10px;
}

.sortable {
  table-layout: fixed;
}

.sortable th {
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: none;
}

.sortable tr:first-child {
  background: gray;
}

.sortable td, .sortable th {
  font-size: 95%;
  white-space: nowrap;
}

.sortable .sortable__row--multiline {
  white-space: normal;
  min-width: 300px;
}

.product__purchase-links {
  margin-top: 1%;
  font-size: 80%;
  display: flex;
}

.product__purchase-links a {
  display: inline-block;
  padding: 5px 5px 0 5px;
}

.product__purchase-links div:first-child a {
  padding-left: 0;
}

ul.product__units {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
}

ul.product__units li {
  display: table-cell;
}

ul.product__units li:not(:first-child):before {
  padding: 0 5px;
  content: "|";
  color: silver;
}

ul.product__features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

ul.product__features li {
  display: inline;
}

ul.product__features li:not(:last-child):after {
  content: ", ";
}

.product__discontinued-label {
  font-size: 70%;
  text-transform: uppercase;
  color: #f87357;
  font-weight: bold;
}

.sortable__row__image {
  position: sticky;
  left: 0;
}

.product__image, .product__abbreviation {
  width: 40px;
  height: 40px;
  position: sticky;
  border: 1px solid gray;
  padding: 1px;
}

.product__abbreviation {
  font-size: 80%;
  background: #fff;
  color: black;
  opacity: 1;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
}

.product__boolean--yes {
  color: green;
}

.product__boolean--no {
  color: red;
}

.product__boolean--description {
  font-size: 80%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip__text {
  visibility: hidden;
  border: 1px solid gray;
  background: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 20px;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}

.product__edit-table {
  margin-top: 40px;
}

.product__edit-table a {
  text-decoration: none;
  padding: 10px;
  color: var(--cobalt-color);
  border: 2px solid var(--cobalt-color);
}

.product__edit-table a:active, .product__edit-table a:focus {
  color: red;
  border-color: red;
}

.product-list {
  list-style: none;
  margin: auto;
  padding: 0;
}

h3 {
  margin: 0;
}

@media (min-width: 480px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
  }

  .product-list li {
    flex: 1 0 50%
  }

  .product-list li:last-child:not(:nth-last-child(2)) {
    max-width: 50%;
    margin: auto;
  }
}

.product-list li a {
  display: block;
  text-align: center;
  border: 1px solid silver;
  padding: 10px;
  margin: 5px;
}

.product-list li a:hover {
  border-color: gray;
}

.product-list li a:active, .product-list li a:focus {
  background: repeating-linear-gradient(-45deg, #fafafa, #fafafa 10px, #fff 10px, #fff 20px) 100%;
}