@charset "utf-8";

html {
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
}

body {
  padding-bottom: 5%;
}

.sortable {
  table-layout: fixed;
}

.sortable th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sortable td, .sortable th {
  font-size: 95%;
  white-space: nowrap;
}

.sortable .sortable__row--multiline {
  white-space: normal;
}

.sortable .sortable__row--multiline:last-child {
  min-width: 400px;
}

.product__purchase-links {
  margin-top: 1%;
  font-size: 80%;
}

ul.product__units {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
}

ul.product__units li {
  display: table-cell;
}

ul.product__units li:not(:first-child):before {
  padding: 0 5px;
  content: "|";
  color: silver;
}

ul.product__features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

ul.product__features li {
  display: inline;
}

ul.product__features li:not(:last-child):after {
  content: ", ";
}

.product__discontinued-label {
  font-size: 70%;
  text-transform: uppercase;
  color: #f87357;
  font-weight: bold;
}

.sortable__row__image {
  position: sticky;
  left: 0;
}

.product__image, .product__abbreviation {
  width: 40px;
  height: 40px;
  position: sticky;
  border: 1px solid gray;
  padding: 1px;
}

.product__abbreviation {
  font-size: 80%;
  background: #fff;
  color: black;
  opacity: 1;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip__text {
  visibility: hidden;
  border: 1px solid gray;
  background: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 20px;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}