@charset "utf-8";

html {
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
}

body {
  padding-bottom: 5%;
}

.sortable td, .sortable th {
  font-size: 95%;
  white-space: nowrap;
  padding: 5px 10px;
}

.sortable th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.product--purchase-links {
  margin-top: 1%;
  font-size: 80%;
}

ul.product--units {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
}

ul.product--units li {
  display: table-cell;
}

ul.product--units li:nth-child(even):before {
  padding: 0 5px;
  content: "|";
  color: silver;
}

.product--discontinued-label {
  font-size: 70%;
  text-transform: uppercase;
  color: #f87357;
  font-weight: bold;
}

.product--image-col {
  position: sticky;
  left: 0;
}

.product--image, .product--abbreviation {
  width: 40px;
  height: 40px;
  position: sticky;
  border: 1px solid gray;
  padding: 1px;
}

.product--abbreviation {
  font-size: 80%;
  background: #fff;
  color: black;
  opacity: 1;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
}